body{
  font-family: 'Open Sans', verdana, sans-serif;
}

.btn{
  border-radius: 0;
}

.jumbotron{
  background: url('/resources/img/hero.jpg')center center no-repeat;
  color: white;
  height: 60vh;
  padding-top: 30vh;
}

.email{
  width: 25%;
}

.tiles{
  background: url('/resources/img/wherewework.jpeg') center center no-repeat;
  height: 50vh;
}

.tilesText{
  padding-top: 20vh;
}


horizontalRule{
  color: white;
}

/*navbar*/

#dropdownMenuButton{
  color: #333333;
  font-weight: 700;
}

.navbar-nav li{
  list-style: none;
  padding: 5px;
}

.navbar-nav li a{
  color: #333333;
  font-weight: 700;
  font-size: 14px;
}

.paddingKill{
  padding: 5px 20px;
}

/*navbar*/

/*FOOTER*/


.footerTop{
  background: #4B4949;
  color: white;
}

.footerMid{
  background: #363636;
  color: white;
}

.footerBottom{
  background: #1C1B1B;
  color: #5D7B7B;
}

/*FOOTER*/