.btn{
  border-radius: 0;
}

.jumbotron{
  background: url('/resources/img/hero.jpg')center center no-repeat;
  color: white;
  height: 60vh;
  padding-top: 30vh;
}

.email{
  width: 25%;
}

.tiles{
  background: url('/resources/img/wherewework.jpeg') center center no-repeat;
  height: 50vh;
}

.tilesText{
  padding-top: 20vh;
}

.footerTop{
  background: #4B4949;
  color: white;
}

.footerMid{
  background: #363636;
  color: white;
}

.footerBottom{
  background: #1C1B1B;
  color: #5D7B7B;
}

horizontalRule{
  color: white;
}
